.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 625px;
}

.w-color{
    color: rgb(129, 212, 129);

}

.login-logo{
    font-size: 60px;
    font-weight: 900;
    color:  rgb(177, 94, 255);
    margin-bottom: 10px;
}

.login-desc{
    font-size: 20px;
    font-weight: 500;
}

.left-login{
    width: 430px;
}

.right-login{
    width: 300px;
    height: 240px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}

.login-input{
    height: 5px;
    width: 270px;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
    padding: 20px;
    outline: none;
    font-size: 15px;
}

.login-input::placeholder{
    font-size: 15px;
}

.login-button{
    height: 40px;
    width: 270px;
    border-radius: 5px;
    background-color: rgb(177, 94, 255);
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.login-button:hover{
    background-color: rgba(177, 94, 255, 0.918);

}

.create-account-button{
    height: 40px;
    width: 180px;
    border-radius: 5px;
    background-color: rgb(129, 212, 129);
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.create-account-button:hover{
    background-color:  rgba(129, 212, 129, 0.918);
}

.forget-password{
    font-size: 13px;
    color:  rgb(115, 45, 182);
    text-decoration: underline;
    cursor: pointer;
}

.forget-password:hover{
    font-weight: 500;
}